---
import { getLangFromUrl, useTranslations } from "@i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const aria_label_text = {
  es: "Reservar cita el ",
  eus: "Erreserbatu "
}

export interface Slot {
  time: string
  date: string;
}

interface Props {
  slots: Slot[];
}

const { slots } = Astro.props as Props;
---

<ul class="flex flex-row md:flex-row flex-wrap gap-20">
  {slots.map((slot) => (
  <li aria-label={`${aria_label_text[lang]} ${slot.time}`} class="cursor-pointer">
       <a
        href={`/${lang}/booking/form/${encodeURIComponent(slot.date)}&${encodeURIComponent(slot.time)}`}
        class="
          border-2 border-red-500 rounded-l-lg p-4 h-24 flex items-center justify-center
          text-center text-2xl font-semibold
          focus:outline-none focus:ring-2 focus:ring-red-500
          hover:bg-red-500 hover:text-white transition
        "
        aria-label={`${aria_label_text[lang]} ${slot.date} - ${slot.time}`}
      >
        {slot.time}
      </a>
    </li>
  ))}
</ul>
